   * {
      box-sizing: border-box;
    }

    body {
      background-color: #eee;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;      
    }   

    .map, .form {
      float: left;
    }

    .map {
      width: 50%; 
    }
 
    .clearfix:after, .clearfix:before {
      clear: both;
      display: block;
      content: "";
      font-size: 0;
    }

    .form {
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;               
      font-size: 16px;              
      padding-left: 40px;      
      padding-right: 20px;
      padding-top: 15px;     
      color: #555;
      font-weight: normal;
    }

    input, textarea {
      width: 100%;
      margin-top: 4px;
      margin-bottom: 15px;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      height: 26px;
      border: none;
      border-radius: 5px;      
    }
    input:focus, textarea:focus {
      border: none !important;
      border-radius: 5px;        
    }

    textarea {
      height: auto;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      margin-right: 20px;
    }
    input[type=submit] {
      background-color: lightblue;
      padding-top: 10px;
      padding-bottom:  10px;
      margin-top: 10px;
      height: auto;
    }

    input[type=datetime-local] {
      font-size: 14px;      
    }
        
    .btn {
      background-color: lightblue;      
    }
    .gm-style-iw {     
      width: 100px !important;
      text-align: center;
    }
  
    @media only screen and (max-width: 700px ) {
      .map, .form {
        float: none;
        width: 100%;
      }
            
      .form {
        padding-top: 35px;
        padding-left: 20px; 
      }
         
    }